/* .container-cascata {
    background-color: aqua;
}

.container-cascata {
    background-color: orange;
}
 */

/*Especificidade*/
#meu-paragrafo {
    background-color: #069; /*Com id é muito mais espeficifico*/
}

.container-especificidade p {
    background-color: chartreuse; /*Ess estilo é mais especifico*/
}

p {
    background-color: lightskyblue;
}

